@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.todo-container {
    max-width: 80%;
    width: 50%;
    min-width: 30%;
    margin: 1em auto 0;
    padding: 10px 50px;
    background: darkcyan;
    box-shadow: 0 0 25px deepskyblue;
    border: none;
}

.add-new-todo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.add-new-todo button {
    color: white;
    font-weight: 700;
    border: none;
    margin-left: 1em;
    height: 2.6em;
}

.todo-items {
    padding: 10px 5px;
    border-top: 4px solid lightgrey;
}

.todo-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.todo-item {
    min-width: 50%;
    max-width: 70%;
    overflow-wrap: break-word;
    border-left: 4px solid lightgrey;
    padding: 10px;
    margin: 10px 0 10px -5px;
}

.edit-task-input input {
    height: .5em;
    font-size: 1.1em;
    font-family: Montserrat, sans-serif;
    border-radius: 4px;
    border: 5px inset lightseagreen;
    background: white;
    font-weight: 600;
}

#new-task-add-input {
    height: .5em;
    font-size: 1.1em;
    font-family: Montserrat, sans-serif;
    border: 5px inset lightseagreen;
    border-radius: 4px;
    background: white;
    font-weight: 600;
}

.todo-item-buttons .remove_button {
    margin-left: 1em;
}

.todo-item div button {
    margin: 0 10px;
}

.todo-item span {
    vertical-align: middle;
    font-weight: 700;
    letter-spacing: .1em;
    color: white;
}

.todo-item span:last-child {
    vertical-align: bottom;
    color: lightgrey;
    font-size: 0.7em;
    letter-spacing: normal;
    font-weight: normal;
}

.todo-item .item-done {
    text-decoration: line-through;
}

@media (max-device-width: 1000px) {
    .todo-container {
        max-width: 65%;
        width: 60%;
    }

    * {
        font-size: 1em;
    }

    .add-new-todo {
        width: 100%;
    }

    .todo-item-buttons {
        display: flex;
        flex-direction: column;
    }

    .todo-item-buttons button:first-of-type {
        margin-bottom: 1em;
    }
}

@media (max-width: 720px) {
    .todo-container {
        max-width: 95%;
        width: 90%;
    }

    * {
        font-size: 1em;
    }

    .add-new-todo {
        width: 100%;
    }

    .todo-item-buttons {
        display: flex;
        flex-direction: column;
    }

    .todo-item-buttons button:first-of-type {
        margin-bottom: 1em;
    }
}
